VITE_SUPABASE_URL=https://mrxghvzlsouvpbghozut.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1yeGdodnpsc291dnBiZ2hvenV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NDU3NzgsImV4cCI6MjA4OTUyMTc3OH0.FiKSrw9iP38KY67E0cs2zK8Glx0LctiSqcWmgK7o7Ys
